<div class="pagination__wrapper" *ngIf="count > 0">
    <ul class="pagination">
        <li>
            <button class="prev"
                    title="previous page"
                    [disabled]="page === 1 || loading"
                    [ngClass]="{ 'disabled': page === 1 || loading }"
                    (click)="onPrev()">&lt; Previous
            </button>
        </li>
        <li *ngIf="page !== 1 && page > pagesToShow - 2">
            <button title="first page - page 1" (click)="onPage(1)">1</button>
        </li>

        <li *ngIf="page !== 1">
            <span>...</span>
        </li>

        <li *ngFor="let pageNum of getPages()">
            <button [ngClass]="{'active': pageNum === page, 'disabled': loading}"
                    (click)="onPage(pageNum)">{{ pageNum }}
            </button>
        </li>

        <li *ngIf="!lastPage()">
            <span>...</span>
        </li>

        <li *ngIf="!lastPage()">
            <button title="last page" (click)="onPage(totalPages())">{{totalPages()}}</button>
        </li>

        <li>
            <button class="next" [disabled]="lastPage() || loading"
                    [ngClass]="{ 'disabled': lastPage() || loading }"
                    (click)="onNext(true)">Next &gt;
            </button>
        </li>
    </ul>
</div>