<div id="main-page">
    <section class="header">
        <div class="container align-left">
            <div class="media-container-column plus-white col-md-12">

                <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">{{title}}</h1>

                <div class="mbr-section-btn py-4">
                    <app-gallery-button [title]="'GALLERY'"></app-gallery-button>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
    </section>
</div>